<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link type="application/atom+xml" rel="alternate" href="screenings.xml" title="FilmSoc Screenings" />
    <link rel="stylesheet" href="/assets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap" rel="stylesheet">
    <script src="/assets/js/bundle.js"></script>
  </head>
  <body>

    <div class="site-wrapper">

      <header class="home-header">
        <h1>
          <a href="/"><img src="/assets/img/logo.svg" alt="FilmSoc: University of Surrey Film Society"></a>
        </h1>
      </header>

      <main>
        {{ content }}
      </main>

      <footer class="site-footer">
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/screenings">Screenings</a></li>
            <li><a href="https://www.facebook.com/surreyfilmsoc/" target="_blank">Facebook</a></li>
            <li><a href="https://www.instagram.com/surreyfilmsoc/" target="_blank">Instagram</a></li>
            <li><a href="/legal">Legal</a></li>
          </ul>
        </nav>
      </footer>
      
    </div>

  </body>
</html>