h2 {
  font-size: 36px;
}

a:link, a:visited {
  color: $neon-blue-bright;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

strong {
  color: white;
}

p {
  font-size: 18px;
  line-height: 1.35;
}